
*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type:none;
    }
nav .navbar{
    position: fixed;
}
.navbar{
    font-family: "Segoe UI";

    height: 144px;
    width: 100%;
    background-color: #f2f3f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.navbar h3{
    /* font-family: "Bellota Text"; */
    color: #47b5ed;
    font-size: 44px;
    font-weight: 400;
    cursor: pointer;
}
a {
    text-decoration: none;
  }
.navbar .navitems{
    padding-left: 20%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    /* font-family: "Bellota Text",display; */


}
.navitems li,a{
    font-weight: 400;
    margin: 34px;
    font-size: 19.4px;
    color: #6c758f;
}
.welcomepage{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #0196e3;
    color: #ffffff;

}
.welcomepage div{
    width: 50%;
}
.welcomepage strong{
    font-family: "segoe UI";
    font-size: 50px;

}
